@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
    background: #0d1420;
}
.container{
    margin: 50px;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image{
    background: black;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: fit-content;
    margin: 20px;
    overflow: hidden;
    border-radius: 30px;
    transition: 0.2;
}
.image img{
    max-width: 400px;
    transition: 0.25s;
}
.image:hover{
    border-radius: 0;
}
.image:hover img{
    opacity: 0.2;
}
.image .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: aliceblue;
    width: 100%;
    height: 100%;
    
}
.image .details h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.image .details p{
    opacity: 0;
    margin: 60px 30px 30px 30px;
    font-size: 20px;
    text-align: center;
    transition: 0.6s;
    transition-property: opacity, transform;
}
.image .details:hover p{
    opacity: 1;
    transform: translateY(-30px);
}

@media screen and (max-width:1150px){
    .image{
        flex: 100%;
        max-width: 400px;
    }
}
@media screen and (max-width:560px){
    .container{
        margin: 20px;
    }
    .image{
        flex: 100%;
        max-width: fit-content;
        height: auto;
        border-radius: 18px;
    }
    .image img{
        max-height: 200px;
    }
}
